.title{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
    weight: 100px;
}

.select-text{
    display: flex;
}

.user-chart{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 100px;
}

.data-text{
    display: flex;
}

.data-text span{
    margin-top: 15px;
    margin-left: 35px;
    font-size: 1.5rem;
}

.data-text input{
    margin-left: 35px;
    background-color: #ec0b43;
    border-radius: 5px;
    padding-left: 15px;
    outline: 0;
    border: 0 none;
    box-shadow: 0 0 0 0;
    color: white;
}

.data-text input::-webkit-input-placeholder{
    color: white;
}

.name-text{
    margin-left: 35px;
    background-color: #ec0b43;
    border-radius: 5px;
    padding-left: 15px;
    outline: 0;
    border: 0 none;
    color: white;
    box-shadow: 0 0 0 0;
    font-size: 1.5rem;
    margin-top: 15px;
}

.name-text input::-webkit-input-placeholder{
    color: white;
}