.sidebar{
    width: 350px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #ec0b43;
    transition: width 300ms;
}

#cursor{
    cursor: pointer;
}

#nav:checked + .sidebar{
    width: 80px;
}

#nav:checked + .sidebar .sidebar-brand,
#nav:checked + .sidebar .sidebar li {
    padding-left: 0.4rem;
    text-align: center;
}

#nav:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav:checked + .sidebar  li a span:last-child{
    display: none;
}

#nav:checked ~ .main-content{
    margin-left: 80px;
}

#nav:checked ~ .main-content header{
    width: calc(100% - 80px);
    left: 80px;
}